# Docker
data_container*/
**/secret.json

**/.settings
**/.*project
**/*fuse_hidden*

*.pyc
*.pyo
build/
dest/
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.gexf
example.py
.metadata
*.ipynb
errors.txt
profile_stats.txt
methodcall*.txt
vlog*.txt


# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

*.swp


#Sublime Text
*.sublime-project

# profiling
*.Main_profile.txt

*.conf
androlyze/tests/
doc
androlyzedoc
*.db
*.idb
benchmarks.txt
scripts/
testenv/
conf/
experiments/

eval/
